$shadow: drop-shadow( 2px 2px 1px rgba(0, 0, 0, 0.7));

.time-indicator {
  align-items: center;
  color: white;
  filter: $shadow;
  font-size: 15px;
  justify-content: center;
  margin-right: 5px;
  pointer-events: none !important;
  text-align: center;
  -webkit-filter: $shadow;

  &__separator {
    white-space: pre;
  }
}