$shadow: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .8));

.seek-bar {
  &[type=range] {
    background-color: transparent;
    filter: $shadow;
    height: 38px;
    margin: 0 10px;
    outline: none;
    position: relative;
    width: 100%;
    -webkit-appearance: none;
    -webkit-filter: $shadow;
  }
}
