.media-control {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  pointer-events: none;
  opacity: 1;
  will-change: opacity;
  transition: visibility .3s ease, opacity .3s ease;

  &--hide {
    opacity: 0;
    visibility: hidden;
  }

  &__layers {
    position: inherit;
    height: inherit;
    width: inherit;
    display: flex !important;
  }

  &__sections {
    display: flex !important;
  }

  &__sections, &__elements {
    &--push-column {
      margin-top: auto !important;
    }
    
    &--push-row {
      margin-left: auto !important;
    }
  }
}