.media-control {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  pointer-events: none;
  opacity: 1;
  will-change: opacity;
  transition: visibility .3s ease, opacity .3s ease;

  &--hide {
    opacity: 0;
    visibility: hidden;
  }

  &__layers {
    position: inherit;
    height: inherit;
    width: inherit;
  }

  &__elements {
    display: flex;
    pointer-events: auto;
    cursor: pointer;
  }

  &__button {
    height: 40px;
    width: 40px;
    outline: none;

    img {
      height: 40px;
      width: 40px;
    }
  }
}

.media-control .media-control__layers {
  display: flex;
}

.media-control .media-control__sections {
  display: flex;

  &--push-column {
    margin-top: auto;
  }

  &--push-row {
    margin-left: auto;
  }
}

.media-control .media-control__elements {
  &--push-column {
    margin-top: auto;
  }

  &--push-row {
    margin-left: auto;
  }
}