$shadow: drop-shadow( 2px 2px 1px rgba(0, 0, 0, 0.7));

.volume {
  display: flex;
  position: relative;

  &__slider-container {
    background-color: rgba(0, 0, 0, 0.8);
    height: 120px;
    opacity: 1;
    position: absolute;
    transition: visibility .3s ease, opacity .3s ease;
    top: -120px;
    width: 100%;
    will-change: opacity;

    &--hide {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__slider {
    --volume-before-width: 0%;

    position: absolute;
    top: 60px;
    transform: translate(-50%, -50%) rotate(-90deg);

    &[type=range] {
      background-color: transparent;
      box-sizing: content-box;
      height: 30px;
      outline: none;
      width: 100px;
      -webkit-appearance: none;

      &::before {
        background-color: white;
        content: "";
        cursor: pointer;
        height: 3px;
        left: 0;
        top: 14px;
        position: absolute;
        width: var(--volume-before-width);
      }
      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 3px;
        cursor: pointer;
        background: rgba(120, 120, 120, 0.8);
      }
      &::-webkit-slider-thumb {
        background-color: white;
        border: 0 solid white;
        border-radius: 50%;
        box-sizing: content-box;
        cursor: pointer;
        margin: -5px 0 0 0;
        height: 12px;
        position: relative;
        width: 12px;
        -webkit-appearance: none;
      }
      &:active::-webkit-slider-thumb {
        transform: scale(1.2);
      }

      &::-moz-range-track {
        background: rgba(120, 120, 120, 0.8);
        box-sizing: content-box;
        cursor: pointer;
        height: 3px;
        width: 100%;
      }
      &::-moz-range-progress {
        background-color: white;
        box-sizing: content-box;
        height: 3px;
      }
      &::-moz-focus-outer {
        border: 0;
      }
      &::-moz-range-thumb {
        background-color: white;
        border: 0 solid white;
        border-radius: 50%;
        box-sizing: content-box;
        cursor: pointer;
        height: 12px;
        width: 12px;
      }
      &:active::-moz-range-thumb {
        transform: scale(1.2);
      }
    }
  }

  &__icon-container {
    align-items: center;
    display: flex;
    filter: $shadow;
    height: 100%;
    justify-content: center;
    width: 100%;
    -webkit-filter: $shadow;
  }
}
